<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Ritza || Homepage</title>

</head>

<body>
  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>
  <main role="main">
    <!-- Page Content -->
    <section class="section jumbotron">
      <div class="container">
        <h1 class="h brand-blue"><strong>Marketing As Education</strong></h1>
        <p>We produce articles for your company’s technical blog <br> or community.</p>
        <a class="btn btn-primary btn-lg bg-red" role="button" id="learnmore">
          Learn more
        </a>
      </div>
    </section>
    <section class="section">
      <div class="container marketing">
        <h2 class="h brand-blue">Marketing as Education</h2>
        <p>Ritza produces the internet’s best articles that teach developers how to build technical solutions. See our
          showcase for examples.</p>
        <p>Companies use these articles to reach potential customers, either directly (by commissioning articles that
          teach people how to use their product) or indirectly (by hosting great technical content on their domain and
          ranking well on Google as a result).</p>
        <p>Ritza offers you not only the highest quality articles, but also the simplest possible integration. You
          purchase a subscription to Ritza and we publish content for you every month. That’s it. Behind the scenes, our
          writers gain a deep understanding of your product or service and write tutorials or articles on how it can be
          used to solve your customers’ problems. Your customers find these articles through search engines or technical
          communities.</p>
      </div>
    </section>
    <section class="section split-bg">
      <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row text-center">
          <h2 class="h brand-blue">How much does it cost?</h2>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header text-center white bg-blue">
                <span class="text-uppercase">single article</span>
                <span class="h">$2000<span></span></span>
                <span>2000 words</span>
              </h4>
              <div class="card-body">
                <p class="card-text">
                Give us a try by purchasing a single article. Give us a topic or area and we will do the rest.
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary bg-blue">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <h4 class="card-header text-center white bg-red">
                <span class="text-uppercase">Monthly subscription</span>
                <span class="h">$3000 <span>/ month</span></span>
                <span>4000 words / month</span>
              </h4>
              <div class="card-body">
                <p class="card-text">
                  Get high quality content every month on a schedule to suit you: weekly, bi-weekly, or monthly the 4000
                  words are broken down into 1-4 articles per month.
                </p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-primary bg-red">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 center-card">
            <div class="card h-100">
              <h4 class="card-header text-center bg-brown white">
                <span class="text-uppercase">Fully managed</span>
                <span class="h">$5000 <span>/ month</span></span>
                <span>4000 words / month</span>
              </h4>
              <div class="card-body">
                <p class="card-text">
                  We manage the entire process for you, from creating topic ideas that will rank well through to design
                  and hosting. 1-4 articles/month.
                </p>
              </div>
              <div class="card-footer">
                <p>Includes design, publishing, hosting, SEO</p>
                <a href="#" class="btn btn-primary bg-brown">Buy now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row subscription text-center">
          <h2 class="h brand-blue">How do I purchase a subscription?</h2>
          <p>We’re still in closed beta. Email garethdwyer@gmail.com if you would like to be first in line when we start
            taking on clients, or sign up below if you simply want to follow Ritza’s progress (example content here).
            https://sixhobbits.github.io/hugoblog/<br>posts/2020-q1-retrospective/</p>
          <form action="/" method="post">
            <input placeholder="Your First Name" id="name" class="form-control">
            <input placeholder="Your Email Address" id="email" class="form-control">
            <button class="btn btn-primary btn-lg bg-red" type="submit">
              Subscribe
            </button>
          </form>
        </div>
        <!-- /.row -->
      </div>
    </section>
    <section class="section">
      <div class="container different">
        <h2 class="h brand-blue">What makes Ritza’s content different?</h2>
        <p>Instead of using our services, you might choose to find a freelancer, employ a full time content writer,
          create an in-house content team, or contract an agency. All of these are valid options and we’ll gladly refer
          you if they seem a better fit for your needs.</p>
        <p>However, we distinguish ourselves from all of these options in several ways</p>
        <div class="media">
          <div class="pull-left">
            <img class="media-object" src="./assets/images/group.png" alt="group">
          </div>
          <div class="media-body">
            <h4 class="media-heading h">Our content is created by a team of professionals</h4>
            <p>Ritza’s content is created by a team of people who all have expertise in technology and writing. By
              contrast, most other content on the web is produced either by</p>
            <div class="media">
              <div class="pull-left">
                <img class="media-object" src="./assets/images/arrow.png" alt="arrow">
              </div>
              <div class="media-body">
                <p class="media-heading">An individual writer, often “unpolished” in terms of editing, design, and
                  readability</p>
              </div>
            </div>
            <div class="media">
              <div class="pull-left">
                <img class="media-object" src="./assets/images/arrow.png" alt="arrow">
              </div>
              <div class="media-body">
                <p class="media-heading">A ‘content team’, usually heavy on ‘content strategists’, ‘growth hackers’,
                  ‘SEO experts’, and marketing managers. Ritza takes a strong stance that most of these people do not
                  add value to the content. Often the writer is required to work closely under the direction of these
                  people, resulting in generic content and “fluff” pieces.</p>
              </div>
            </div>
            <p>Ritza’s team consists solely of craftspeople: doers, not overseers. These are people who understand the
              audience very well, as they are part of it. They are creating the content that they wish existed. The
              writer
              is always the main contributor to any piece of content, and is supported by editors and designers as
              necessary.</p>
            <p>While many content agencies claim that their writing is produced by “experts”, they often pay 1c-10c/word
              for this “expert created” content, with the rest of the fee being absorbed by account managers and other
              business focussed people. The “expert” is often someone without much expertise on the topic.</p>
          </div>
        </div>
        <div class="media">
          <div class="pull-left" href="#">
            <img class="media-object" src="./assets/images/elearning.png" alt="e-learning">
          </div>
          <div class="media-body">
            <h4 class="media-heading h">Our content is beautiful and distraction free</h4>
            <p>A vast majority of content is cluttered and ugly. It contains many “CTAs” or “calls to action” to try to
              get the reader to do something (often to spend money or sign up for a mailing list). By contrast, Ritza’s
              gives readers the content that they need and then gets out of the way. This approach does not result in an
              increase of “vanity metrics”, but it ultimately wins the readers’ respect and loyalty.</p>
            <p>As an example, see above an article from dev.to on the left which contains no fewer than twelve elements
              that try to convince the reader to navigate away from the page on which he or she presumably landed on
              with the intention of reading the article. By contrast, a Ritza article is on the right.</p>
            <div class="row">
              <img class="img-responsive" src="./assets/images/example1.png" alt="example 1">
              <img class="img-responsive" src="./assets/images/example2.png" alt="example 2">
            </div>
          </div>
        </div>
        <div class="media">
          <div class="pull-left" href="#">
            <img class="media-object" src="./assets/images/academic.png" alt="academic">
          </div>
          <div class="media-body">
            <h4 class="media-heading h">Our content focuses solely on educating your readers</h4>
            <p>It sounds paradoxical, but our content works well as marketing precisely because it strives not to be
              marketing. We do not push readers to buy products or services (though we often demonstrate how products
              and services can be used to solve specific problems). Our writers’ only goal is to help the reader solve
              problems, and that’s why readers love our content.</p>
          </div>
        </div>

      </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4">
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
        <div class="row">
          <div class="col-md-8 mt-md-0 mt-3">
            <img src="./assets/images/logo.png" alt="logo">
          </div>
          <hr class="clearfix w-100 d-md-none pb-3">
          <div class="col-md-2 mb-md-0 mb-3 text-center">
            <h6><a class="brand-blue footer-link" href="#!">Terms of Use</a></h6>
          </div>
          <div class="col-md-2 mb-md-0 mb-3">
            <h6><a class="brand-blue footer-link" href="#!">Privacy Policy</a></h6>
          </div>
        </div>
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-left py-3">
        Copyright 2020 - ALL RIGHTS RESERVED.
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </main>
</body>

</html>
